<a href="https://colab.research.google.com/github/chsanabriam/Esatdistica_Aplicada/blob/master/Taller_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Taller 2

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use("ggplot")

In [2]:
!wget https://www.openintro.org/data/csv/loan50.csv

--2020-09-05 06:40:11--  https://www.openintro.org/data/csv/loan50.csv
Resolving www.openintro.org (www.openintro.org)... 192.185.65.127
Connecting to www.openintro.org (www.openintro.org)|192.185.65.127|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6714 (6.6K) [text/csv]
Saving to: ‘loan50.csv’

loan50.csv          100%[===================>]   6.56K  --.-KB/s    in 0s

2020-09-05 06:40:11 (154 MB/s) - ‘loan50.csv’ saved [6714/6714]

Para este taller se va a utilizar un archivo de 50 prestamos ofrecidos por un club de prestamos. El archivo consta de 18 variables entre las cuales se encuentran el lugar de residencia del cliente (state), tipo de propiedad de la vivienda (homeownership), ingreso anual del cliente (annual_income), cantidad prestada (loan_amount), intereses (interest_rate), ingreso total (total_income), entre otroa.

In [3]:
loan = pd.read_csv('loan50.csv')
loan.head()

  state  emp_length  term  ... loan_status  has_second_income total_income
0    NJ         3.0    60  ...     Current              False      59000.0
1    CA        10.0    36  ...     Current              False      60000.0
2    SC         NaN    36  ...     Current              False      75000.0
3    CA         0.0    36  ...     Current              False      75000.0
4    OH         4.0    60  ...     Current              False     254000.0

[5 rows x 18 columns]

##Punto 1
* Realice un histograma de frecuencia para determinar cual es el mayor tipo de propiedad que tienen los clientes del club.
* A partir de una tabla de frecuencias determine cual es el lugar de residencia donde más clientes viven

In [7]:
# Ingrese su código aquí

##Punto 2
* Calcule el valor promedio, la mediana y la desviación estandar de los intereses prestados por el club.
* Calcule el rango intercuartil de los ingresos anuales de ls clientes.

In [ ]:
# Ingrese su código aquí

##Punto 3
* Haga un diagrama de cajas para los ingresos totales de los clientes.
* Calcule el coeficiente de asimétria de la distriución así como la curtosis de la misma. ¿Es la ditribución simétrica?

In [ ]:
# Ingrese su código aquí

##Punto 4
* Haga un diagrama de dispersión entre el número de meses del prestamo (term) y el valor prestado (loan_amount). ¿Cree usted que el club le presta más dinero a un cliente siempre y cuando los meses para pagar el mismo sean mayores?
* Responda la siguiente pregunta:
¿Los intereses del prestamo al clientes son más bajos mientras el cliente tiene mejores ingresos?. Justifique su respuesta.

In [9]:
# Ingrese su código aquí

## Bono
Haga una tabla de contingencia para determinar el número de clientes por lugar de residencia y tipo de propiedad de la vivienda. Con la tabla anterior responda la siguiente pregunta: ¿Cual es el lugar de residencia que más clientes tienen casa propia?